.upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__container {
  font-family: DM Mono, monospace;
  background-color: #4f4f4f;
  color: white;
  display: inline;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  margin: auto 20px 20px 20px;
}

.upload__container a {
  text-decoration: none;
  color: white;
}

.upload__container:hover {
  background-color: #333;
  color: #4f4f4f;
}
