.uploadfile__container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin: 10% 30px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  gap: 12.5px;
  min-height: 525px;
}

.uploadfile__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.uploadfile__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.uploadfile__title input {
  padding: 8px 10px;
  border-radius: 8px;
}

.uploadfile__upload {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 5px;
}

.uploadfile__uploadtext {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 100px 0;
  cursor: pointer;
  border: 2px dashed #05050e;
  border-radius: 10px;
}

.uploadfile__uploadtext p {
  font-size: 1rem;
  font-weight: bold;
  color: #4c53ff;
}

.uploadfile__uploadtext p:hover {
  color: #3e42ce;
}

.uploadfile__folder {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 8px 0;
}

.uploadfile__folder select {
  border-radius: 10px;
  padding: 4px 8px;
}

.uploadfile__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  background-color: rgba(143, 143, 143, 0.3);
  border-radius: 10px;
}

.uploadfile__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}

.uploadfile__label input {
  padding: 8px 10px;
  border-radius: 8px;
}

#feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #4c53ff;
}

.uploadfile__fileinput {
  display: none;
}

.uploadfile__btncontainer {
  display: flex;
  justify-content: center;
}

.uploadfile__button {
  border: 1px solid black;
  font-family: DM Mono, monospace;
  font-size: 1rem;
  align-items: center;
  max-width: 185px;
  background-color: #4c53ff;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 52px;
  cursor: pointer;
}

.uploadfile__button:hover {
  background-color: #3333ff;
  color: #ffe8e8;
}

@media screen and (max-width: 389px) {
  .uploadfile__label {
    font-size: 0.8rem;
  }
}