.btn-logout {
  background-color: #ff3333;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
}

.btn-logout:hover {
  background-color: #ff1a1a;
  color: #000;
  border: 1.5px solid #000;
}

.btn {
  background-color: #33ff6c;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
}

.btn:hover {
  background-color: #31df62;
  color: #000;
  border: 1.5px solid #000;
}
