{% extends 'base.html' %}
{% block title %} GUI Mode {% endblock%}

{% block content %}
{% if current_user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,
    wght@0,300;0,400;0,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/gui.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <title>GUI Mode</title>
</head>

<body>
    <!-- Graph and Output-->
    <section class="gui__graphoutput">

        <!-- TODO: add real chart.js-->
        <div class="gui__graph">
            <img src="/public/graph.png" alt="graph" class="graph__image">
        </div>

        <!-- TODO: CHANGE TO DYNAMIC LATER-->
        <div class="gui__output">
            <pre id="output"></pre>
        </div>

    </section>

    <!-- Choose File and Parameter -->
    <section class="gui__fileandparam">
        <div class="gui__file">
            <label for="scriptSelect" id="hiddenFileInput" class="gui__filelabel">Choose Files</label>
            <div class="gui__selectwrapper">
                <select name="script" id="scriptSelector">
                    {% for script in scripts %}
                    <option value="{{ script }}">{{ script }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="gui__param">
            <input type="text" id="param1" name="param1" placeholder="Param 1">
            <input type="text" id="param2" name="param2" placeholder="Param 2">
            <input type="text" id="param3" name="param3" placeholder="Param 3">
            <input type="text" id="param4" name="param4" placeholder="Param 4">
            <input type="text" id="param5" name="param5" placeholder="Param 5">
        </div>

        <div class="gui__btnwrapper">
            <button id="startButton" class="gui__runbutton">Run</button>
            <button id="stopButton" class="gui__stopbutton">Stop</button>
        </div>
    </section>
</body>

<script>
    document.querySelector(".gui__file").addEventListener("click", function () {
        document.getElementById("scriptSelector").click();
    });

    document.addEventListener("DOMContentLoaded", function () {
        var selectElement = document.getElementById("scriptSelector");
        var labelElement = document.getElementById("hiddenFileInput");
        selectElement.addEventListener("change", function () {
            var selectedText = selectElement.options[selectElement.selectedIndex].text;
            var filename = selectedText.split('/').pop();
            labelElement.textContent = filename;
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect("http://" + document.domain + ":" + location.port);

        document.getElementById("startButton").addEventListener("click", function (event) {
            event.preventDefault();
            var selectedFile = document.getElementById("scriptSelector").value;
            document.getElementById("output").innerHTML = ""; // Clear output area
            socket.emit("start_script", { filename: selectedFile });
        });

        document.getElementById("stopButton").addEventListener("click", function (event) {
            event.preventDefault();
            socket.emit("stop_script");
        });

        socket.on("script_output", function (data) {
            var outputElement = document.getElementById("output");
            // Append new output and convert line breaks to <br> tags
            outputElement.innerHTML += data.output.replace(/(?:\r\n|\r|\n)/g, '<br>');
            outputElement.scrollTop = outputElement.scrollHeight; // Auto scroll to the bottom
        });

        socket.on("connect_error", function (error) {
            console.error("Connection error:", error);
        });
    });




</script>

</html>

{% else %}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h2>Access Denied</h2>
    <p>Please login to access this page</p>
    <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>
</div>

{% endif %}

{% endblock %}