{% extends 'base.html' %}
{% block title %} GUI Mode {% endblock%}

{% block content %}
{% if current_user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/gui.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>GUI Mode</title>
</head>

<body>
    <!-- Graph and Output-->
    <section class="gui__graphoutput">
        <div class="gui__graph">
            <canvas id="myChart"></canvas>
        </div>

        <div class="gui__output">
            <pre id="output"></pre>
        </div>
        <!-- Trial Count -->
        <div class="gui__trials">
            <span>Number of Trials: </span><span id="trialCount">0</span>
        </div>
    </section>


    <!-- Label filters -->
    <div id="labelFilters" class="label-filters"></div>

    <!-- Choose File and Parameter -->
    <section class="gui__fileandparam">

        <!-- Choose File to show file explorer modal -->
        <div class="gui__file">
            <label id="chooseFileLabel" class="gui__filelabel">Choose File</label>
            <span id="selectedFileDisplay"></span>
        </div>

        <!-- File explorer modal -->
        <div id="fileExplorerModal" class="feModal">
            <div class="fe-modal-content">
                <span class="close">&times;</span>
                <h2>Select a File</h2>
                <div id="fileExplorer"></div>
            </div>
        </div>

        <!-- Dynamic param field-->
        <div class="gui__param" id="paramContainer">
            <div class="param-wrapper">
                <input type="text" id="param1" class="param-input" name="param1" placeholder="Param 1">
            </div>
            <div class="param-wrapper">
                <input type="text" id="param2" class="param-input" name="param2" placeholder="Param 2">
            </div>
            <div class="param-wrapper">
                <input type="text" id="param3" class="param-input" name="param3" placeholder="Param 3">
            </div>
            <div class="param-wrapper">
                <input type="text" id="param4" class="param-input" name="param4" placeholder="Param 4">
            </div>
            <div class="param-wrapper">
                <input type="text" id="param5" class="param-input" name="param5" placeholder="Param 5">
            </div>

            <!-- Button to show more parameters -->
            <button id="showMoreParams" class="add-param-button">Add Params</button>
        </div>

        <div class="gui__btnwrapper">
            <button id="startButton" class="gui__runbutton">Run</button>
            <button id="stopButton" class="gui__stopbutton">Stop</button>
            <button id="logButton" class="gui__logbutton">Log</button>
        </div>
    </section>

    <!-- Confirmation modal -->
    <div id="commandModal" class="modal">
        <div class="modal-content">
            <span class="closeModal">&times;</span>
            <p id="modalMessage">YOU'LL RUN THIS COMMAND, ARE YOU SURE?</p>
            <p id="commandText"></p>
            <button id="confirmButton">Confirm</button>
        </div>
    </div>



</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="/static/js/gui3.js"></script> -->
<script src="/static/js/gui3-refactor.js"></script>

</html>

{% else %}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h2>Access Denied</h2>
    <p>Please login to access this page</p>
    <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>
</div>

{% endif %}

{% endblock %}