<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,
    wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <!--Navigation-->
    <header class="header">
        <nav class="nav__container">
            <a href="{{ url_for('index') }}"><img src="/static/images/mechanical-arm.png" alt="logo"
                    class="nav__logo"></a>
            <ul>
                <li><a href="https://192.168.178.48:4200" target="_blank">CLI Mode</a></li>
                <li><a href="{{ url_for('gui') }}">GUI Mode</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}" class="btn-logout"> Logout </a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}" class="btn btn-login"> Login </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</body>

</html>