{% extends 'base.html' %}
{% block title %} Random Data {% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mb-4">
                <h1 class="display-5 fw-bold">Random Data</h1>
                <button id="start-button" class="btn btn-primary">Start</button>
                <button id="stop-button" class="btn btn-danger" disabled>Stop</button>
            </div>
        </div>
    </div>

    <canvas id="lineChart" width="800" height="450"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: [],  // Initially empty labels
                datasets: [{
                    label: "Random Data",
                    data: [],  // Initially empty data
                    backgroundColor: "rgba(75, 192, 192, 0.2)",
                    borderColor: "rgb(75, 192, 192)",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var updateInterval; // Variable to store the interval ID
        var isGenerating = false; // Flag to track data generation state

        // Function to fetch data and update chart
        function updateChartData() {
            fetch('/random-data')
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        lineChart.data.labels.push(data['timestamp']);
                        lineChart.data.datasets[0].data.push(data['value']);
                        lineChart.update();
                    }
                });
        }

        // Start button click handler
        document.getElementById('start-button').addEventListener('click', function () {
            if (!isGenerating) {
                fetch('/start-data-generation') // Send request to start data generation
                    .then(response => {
                        if (response.ok) {
                            isGenerating = true;
                            this.disabled = true;
                            document.getElementById('stop-button').disabled = false;

                            // Start updating chart
                            updateInterval = setInterval(updateChartData, 2000); // Update chart every 2 seconds
                        } else {
                            console.error('Failed to start data generation.');
                        }
                    });
            }
        });

        // Stop button click handler
        document.getElementById('stop-button').addEventListener('click', function () {
            if (isGenerating) {
                fetch('/stop-data-generation') // Send request to stop data generation
                    .then(response => {
                        if (response.ok) {
                            isGenerating = false; // Update the flag to false
                            this.disabled = true;
                            document.getElementById('start-button').disabled = false;

                            // Stop updating chart
                            clearInterval(updateInterval);
                        } else {
                            console.error('Failed to stop data generation.');
                        }
                    });
            }
        });

    </script>

</body>

</html>

{% else %}

<h2>Access Denied</h2>
<p>Please login to access this page</p>

<a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>

{% endif %}

{% endblock %}