{% extends 'base.html' %}
{% block title %} Upload New File {% endblock %}


{% block content %}
{% if current_user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,
    wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/uploadfile.css">
    <link rel="stylesheet" href="/static/css/utils.css">
    <title>GUI Mode</title>
</head>

<body>

    <!-- Uplaod File Section-->
    <main class="uploadfile__container">
        <div class="uploadfile__header">
            <h2>Add New File</h2>
        </div>

        <form action="{{ url_for('uploadfile') }}" method="post" enctype="multipart/form-data">
            <div class="uploadfile__title">
                <label for="text">Title</label>
                <input type="text" id="title" name="title">
            </div>

            <div class="uploadfile__upload">
                <label for="text">Attach File</label>

                <!--input the file-->
                <div class="uploadfile__uploadtext">
                    <input type="file" id="hiddenFileInput" name="file" class="uploadfile__fileinput">
                    <p>click here to select a file</p>
                </div>
            </div>

            <div class="uploadfile__progress">
                <progress id="fileUploadProgress" value="0" max="100"></progress>
            </div>

            <div class="uploadfile__btncontainer">
                <button type="submit" class="uploadfile__button">Upload</button>
            </div>
        </form>
    </main>
</body>

<script>
    document.querySelector('.uploadfile__uploadtext').addEventListener('click', function () {
        document.getElementById('hiddenFileInput').click();
    });

    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();

        var title = document.getElementById('title').value;
        var fileInput = document.getElementById('hiddenFileInput');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('title', title);
        formData.append('file', file);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{ url_for('uploadfile') }}', true);

        xhr.upload.onprogress = function (event) {
            if (event.lengthComputable) {
                var percentComplete = (event.loaded / event.total) * 100;
                document.getElementById('fileUploadProgress').value = percentComplete;
            }
        };

        xhr.onload = function () {
            if (xhr.status == 200) {
                alert('File uploaded successfully');
            } else {
                alert('File upload failed');
            }
        };

        xhr.send(formData);
    });
</script>

</html>

{% else %}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h2>Access Denied</h2>
    <p>Please login to access this page</p>
    <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>
</div>


{% endif %}


{% endblock %}